body{
    margin: 0px;
    padding: 0px;
    background-color: rgb(39, 37, 37);
}

.sidebar{
    background-color: rgb(28, 27, 26);
    height: 95vh;
    width: 220px;
    display: block;
    visibility: hidden;
}

.sidebar-items{
    font-size: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    margin-bottom: 10px;
    color: #fff;
    cursor: pointer;
}

.sidebar-items:hover{
background-color: #565353;


}


.sidebar-text{
    text-decoration: none;
    padding-left: 10px;
    font-size: 20px;
    color: #fff;
    cursor: pointer;
}

#hamburger{
    position: fixed;
    top: 10px;
    left: 10px;
    color: #fff;
    cursor: pointer;
    
}

#close{
margin-top: 10px;
margin-left: 190px;
    color: #fff;
    cursor: pointer;
    
}